<div class="container-fluid" ng-show="account.isLoggedIn()">
    <div id="courses-logo" class="page-header">
        <img src="http://i.imgur.com/HtUvpLn.jpg" />
    </div>


    <div class="container-fluid">

        <div class="row row-eq-height">

            <div class="col-xs-18 col-sm-6 col-md-3">
                <div class="thumbnail" id="thumb" style="height: 580px;">
                    <img src="http://i.imgur.com/7mryaK4.png" height="500" width="300" alt="">
                    <div class="caption">
                        <h4>Oak Creek Golf Course</h4>
                        <p>In true Tom Fazio form, Oak Creek Golf Club beckons the competitive spirit of golf players at all levels. Each of the 18 holes throughout this Orange County golf course presents new challenges amid tapered fairways, scenic greens, beautiful lakes and bull-nose carved bunkers. With dense and dynamic flora, Oak Creek creates a sanctuary not only for your playing experience but for a variety of birds and other fauna as well.</p>
                        <p><a href="/oakcreekdetails" class="btn btn-default" role="button">Details</a></p>
                    </div>
                </div>
            </div>

            <div class="col-xs-18 col-sm-6 col-md-3">
                <div class="thumbnail" id="thumb" style="height: 580px;">
                    <img src="http://i.imgur.com/MoYBiLT.jpg" height="500" width="300" alt="">
                    <div class="caption">
                        <h4>Pellican Hill Golf Resort</h4>
                        <p>When jaw-dropping scenery is par for the course, you’ll need to remind yourself to keep your eye on the ball. But once you find your focus, players of every skill level are rewarded with 36 holes that test your mettle, quicken your pulse and stir your soul. Pelican Hill Golf Club is more than just a round of golf. It’s a two-course feast to make you feel as if golf is your sole reason for being. And from the moment you tee off, it absolutely is.</p>
                        <p><a href="/pellicanhilldetails" class="btn btn-default" role="button">Details</a></p>
                    </div>
                </div>
            </div>

            <div class="col-xs-18 col-sm-6 col-md-3">
                <div class="thumbnail" id="thumb" style="height: 580px;">
                    <img src="http://i.imgur.com/qAeaGdP.jpg" height="500" width="300" alt="">
                    <div class="caption">
                        <h4>Strawberry Farms Golf Course</h4>
                        <p>The par-71, 6,700 yard course is set amid canyons and wetlands, the 18-hole course offers picturesque vistas across the 35-acre reservoir, large rolling greens surrounded by wildlife and natural vegetation and scenic hills studded with granite boulders and natural waterfalls. Developed by Doug DeCinces, former California Angel third baseman, Strawberry Farms Golf Club is sure to provide golfers with the finest golf experience in Orange County.</p>
                        <p><a href="#" class="btn btn-default" role="button">Details</a></p>
                    </div>
                </div>
            </div>

            <div class="col-xs-18 col-sm-6 col-md-3">
                <div class="thumbnail" id="thumb" style="height: 580px;">
                    <img src="http://i.imgur.com/zn3Le9z.jpg" height="500" width="300" alt="">
                    <div class="caption">
                        <h4>Black Gold Golf Course</h4>
                        <p>Black Gold Golf Club in Yorba Linda is a premier Arthur Hills championship design featuring gentle elevation changes over rolling hills with strategic bunkering and incredible vistas overlooking coastal orange and LA counties. With fine conditioning and superb landscaping that includes a stunning waterfall off the 18th green, this course was awarded 4 stars by Golf Digest Places to play and also has been recognized as one of the top two best municipal layouts in southern California and top 50 in the state by Southland Golf Magazine. </p>
                        <p><a href="#" class="btn btn-default" role="button">Details</a></p>
                    </div>
                </div>
            </div>

        </div><!-- End row -->

        <div class="row row-eq-height">

            <div class="col-xs-18 col-sm-6 col-md-3">
                <div class="thumbnail" id="thumb" style="height: 580px;">
                    <img src="http://i.imgur.com/Wxa1zaL.jpg" height="500" width="300" alt="">
                    <div class="caption">
                        <h4>San Juan Hills Golf Club</h4>
                        <p>The golf course at San Juan Hills Golf Club is truly an oasis for both the serious golfer as well as the vacationing one. Nestled in the rolling hills of San Juan Capistrano, San Juan Hills Golf Club is a Par 71 Championship golf course. Recent improvements in our grounds have resulted in a course that offers the best greens and fairways in south Orange County. Open to the public, you’ll find a game here every day of the week.</p>
                        <p><a href="#" class="btn btn-default" role="button">Details</a></p>
                    </div>
                </div>
            </div>

            <div class="col-xs-18 col-sm-6 col-md-3">
                <div class="thumbnail" id="thumb" style="height: 580px;">
                    <img src="http://www.coyotehillsgc.com/sites/default/files/coyotehills_01-movedflag-v2.jpg" height="500" width="300" alt="">
                    <div class="caption">
                        <h4>Coyote Hills Golf Club</h4>
                        <p>Coyote Hills Golf Course is an award-winning 18-hole, par 70 golf course that features five distinct tees and panoramic views of Los Angeles and Orange County. Enjoy an outstanding golf experience at one of Southern California’s best golf courses.</p>
                        <p><a href="#" class="btn btn-default" role="button">Details</a></p>
                    </div>
                </div>
            </div>

            <div class="col-xs-18 col-sm-6 col-md-3">
                <div class="thumbnail" id="thumb" style="height: 580px;">
                    <img src="https://res.cloudinary.com/roadtrippers/image/upload/c_fill,h_316,w_520/v1365709233/fullerton-golf-course-5016a37bd0394a1e6d000f8a.jpg" height="500" width="300" alt="">
                    <div class="caption">
                        <h4>Fullerton Golf Course</h4>
                        <p>Located in North Orange County, Fullerton Golf Course is set in a small valley and features dramatic dogleg fairways and constant elevation changes as it meanders alongside beautiful Brea Creek. The quick Poa annua and bentgrass greens and well-placed bunkers define this enjoyable course, which was designed by renowned course architect William F. Bell to accommodate players of all levels.</p>
                        <p><a href="#" class="btn btn-default" role="button">Details</a></p>
                    </div>
                </div>
            </div>

            <div class="col-xs-18 col-sm-6 col-md-3">
                <div class="thumbnail" id="thumb" style="height: 580px;">
                    <img src="http://i.imgur.com/7V4xZFV.jpg" height="500" width="300" alt="">
                    <div class="caption">
                        <h4>Monarch Beach Golf Links</h4>
                        <p>Few golf experiences can match the blend of stunning natural beauty and variety of challenges presented at Monarch Beach Golf Links. Here, along the dramatic bluffs of Southern California, master architect, Robert Trent Jones, Jr., has fashioned an intriguing layout in the Scottish links tradition on one of the select few oceanfront golf courses in California. Commanding sweeping views to the sea, this par-70 championship course offers an unending variety of play.</p>
                        <p><a href="#" class="btn btn-default" role="button">Details</a></p>
                    </div>
                </div>
            </div>

        </div><!-- End row -->

        </div><!-- End row -->

    </div><!-- End container -->
