<div id="wrapper" ng-show="account.isLoggedIn()">

    <!-- Sidebar -->
    <div id="sidebar-wrapper" style="color:lightgray;">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">

            </li>
            <li>
                <h3>Course Details</h3>
            </li>
            <li>
                ADDRESS
            </li>
            <li>
                1 Golf Club Dr, Irvine, CA 92618
            </li>
            <li>
                (949) 653-5300
            </li>
            <li>
                Price: $$$
            </li>
            <li>
                Holes: 18
            </li>
            <li>
                Par: 72
            </li>
            <li>
                Hours: 6:30AM - 8:00PM
            </li>
            <li>
                Rating: <img src="http://www.greenskeeper.org/images/ratingstar.gif" border="0" /><img src="http://www.greenskeeper.org/images/ratingstar.gif" border="0" />
                <img src="http://www.greenskeeper.org/images/ratingstar.gif" border="0" /><img src="http://www.greenskeeper.org/images/ratingstar.gif" border="0" />
                <img src="http://www.greenskeeper.org/images/ratingstardim.gif" width="11" height="11" border="0" />
            </li>
        </ul>
        <br />
        <br />
        <div style="width: 250px; margin-top:420px;"><iframe width="250" height="500" src="http://regiohelden.de/google-maps/map_en.php?width=250&amp;height=500&amp;hl=en&amp;q=1%20Golf%20Club%20Dr%2C%20Irvine%2C%20CA%2092618+(Oak%20Creek%20Golf%20Course)&amp;ie=UTF8&amp;t=&amp;z=14&amp;iwloc=B&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"><</iframe><br /></div>
    </div>
    <!-- /#sidebar-wrapper -->
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div id="bannertaskstop" class="row">
                <div class="col-lg-12" style="padding-top:50px;">
                    <center><h1><font style="color:black;">Oak Creek Golf Course</font></h1></center>
                    <form action="" class="search-form" style="width: 100%;">
                        <btn id="menu-toggle" class="btn btn-default" style="margin-left:10px;">Course Details</btn>
                        <!--<div class="form-group has-feedback" style="margin-right:150px;">
                            <label for="search" class="sr-only">Search...</label>
                            <input type="text" class="form-control" name="search" ng-model="vm.search" id="search" placeholder="Search by Golfers Name...">
                            <span class="glyphicon glyphicon-search form-control-feedback"></span>
                        </div>-->
                    </form>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="wrap_table">
                            <!-- ENTER HERE -->
                            <div class="col-md-5">
                                <div class="gallery" align="left">
                                    <h3>Gallery</h3>
                                    <div class="preview" align="left">
                                        <img name="preview" src="http://www.juniorgolfnews.com/wp-content/uploads/2010/11/IMG_9848_Clubhouse_Cr1F.png" width="800" height="400" alt="" />
                                    </div>
                                    <div class="thumbnails">
                                        <img onmouseover="preview.src=img1.src" name="img1" src="http://www.juniorgolfnews.com/wp-content/uploads/2010/11/IMG_9848_Clubhouse_Cr1F.png" width="100" height="100" alt="" />
                                        <img onmouseover="preview.src=img2.src" name="img2" src="http://www.scga.org/images/uploads/facilities/884/marriotts-shadow-ridge-golf-club-6fcd242505330696e80deaf80e3a8a6efbcf1b82.jpg" width="100" height="100" alt="" />
                                        <img onmouseover="preview.src=img3.src" name="img3" src="http://soundbitesgrill.com/wp-content/uploads/2013/10/Canyon-Mesa-I.jpg" width="100" height="100" alt="" />
                                        <img onmouseover="preview.src=img4.src" name="img4" src="http://media-cdn.tripadvisor.com/media/photo-s/05/68/f3/49/oak-creek-golf-club.jpg" width="100" height="100" alt="" />
                                        <img onmouseover="preview.src=img5.src" name="img5" src="http://cdn.gdol.com/ap/p.php?a=pv&p=52423" width="100" height="100" alt="" />
                                    </div>


                                </div> <!-- Close the gallery div -->
                            </div>
                            <div class="col-md-7" style="color:white;">
                                <h1>Course Info</h1>
                                <h3>The Course</h3>
                                <p>In true Tom Fazio form, Oak Creek Golf Club beckons the competitive spirit of golf players at all levels. Each of the 18 holes throughout this Orange County golf course presents new challenges amid tapered fairways, scenic greens, beautiful lakes and bull-nose carved bunkers. With dense and dynamic flora, Oak Creek creates a sanctuary not only for your playing experience but for a variety of birds and other fauna as well.</p>

                                <h3>Highlights Include:</h3>

                                <p>
                                    <ul>
                                        <li>Year-round playability</li>
                                        <li>Five sets of tees on each hole</li>
                                        <li>Open to the public daily</li>
                                    </ul>
                                    In preparation for your visit, we invite you to view our online Oak Creek Golf Photo Gallery, and you can get a feel for the individual holes with Oak Creek Golf Course Layout information and Oak Creek Golf Scorecard.  In addition, you can maximize your enjoyment of Oak Creek with one of our Golf Club Membership programs.
                                </p>

                                <h3>About The Architect</h3>

                                <p>Tom Fazio is undoubtedly one of the most admired and respected golf course designers in the world. His extensive list of accolades includes being named "Best Modern Day Golf Course Architect" in Golf Digest magazine. More than a dozen of his designs have also taken top honors in the annual rankings of "Best New and Best Overall Resort, Daily Fee and Private Golf Courses' in Golf Digest, Golf, Golf World and Golf Week magazines.  We look forward to your visit to Oak Creek, recognized as one of Tom Fazio's best California golf course designs.</p>
                                <br />
                                <br />
                                <a href="http://www.bestapproachflyovers.com/OCR_oakcreekirvine/" target="_blank" class="btn btn-default" role="button">View Course Layout</a>
                                <a href="http://oakcreek.quick18.com/teetimes/search?_ga=1.234253850.562444479.1456342854" target="_blank" class="btn btn-default" role="button">Set Tee Time</a>

                            </div>


                            <div class="row" style="margin-top:50px;">
                                <div class="col-md-12">
                                    <div class="col-md-5">
                                        <table class="mine table table-hover">


                                            <tr>
                                                <th>Course</th>
                                                <th>Golfers Name</th>
                                                <th>Course Par</th>
                                                <th>Final Score</th>

                                            </tr>
                                            <tr ng-repeat="score in vm.scores | orderBy:'finalScore' | filter: {courseName: 'Oak Creek Golf Course'}">
                                                <td><span><img alt="Brand" src="http://i.imgur.com/pK1ufyV.png" height="25" width="25"></span> {{score.courseName}}</td>
                                                <td>{{score.golfersName}}</td>
                                                <td>{{score.par}}</td>
                                                <td>{{score.finalScore}}</td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="col-md-6">
                                        <!-- COMMENTS -->
                                        <div id="HCB_comment_box"><a href="http://www.htmlcommentbox.com">Widget</a> is loading comments...</div>
                                        <link rel="stylesheet" type="text/css" href="//www.htmlcommentbox.com/static/skins/bootstrap/twitter-bootstrap.css?v=0" />
                                        <script type="text/javascript" id="hcb"> /*<!--*/ if (!window.hcb_user) { hcb_user = {}; } (function () { var s = document.createElement("script"), l = hcb_user.PAGE || ("" + window.location).replace(/'/g, "%27"), h = "//www.htmlcommentbox.com"; s.setAttribute("type", "text/javascript"); s.setAttribute("src", h + "/jread?page=" + encodeURIComponent(l).replace("+", "%2B") + "&mod=%241%24wq1rdBcg%24qbiEEt2yqYpwhQ6OERcEG1" + "&opts=16862&num=10&ts=1456357885094"); if (typeof s != "undefined") document.getElementsByTagName("head")[0].appendChild(s); })(); /*-->*/ </script>
                                    </div>
                                    <div class="col-md-1"></div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
</div>

<script>
    $("#menu-toggle").click(function (e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    $('.datepicker').datepicker();

    hcb_user = {
        // L10N
        comments_header: 'Comments',
        name_label: 'Name',
        content_label: 'Enter your comment here',
        submit: 'Comment',
        logout_link: '',
        admin_link: '',
        no_comments_msg: '',
        add: 'Add your comment',
        again: 'Post another comment',
        rss: '',
        said: 'said:',
        prev_page: '<img src="//www.htmlcommentbox.com/static/images/arrow_left.png" class="hcb-icon" title="previous page" alt="[prev]"/>',
        next_page: '<img src="//www.htmlcommentbox.com/static/images/arrow_right.png" class="hcb-icon" title="next page" alt="[next]"/>',
        showing: 'Showing',
        to: 'to',
        website_label: 'website (optional)',
        email_label: 'email',
        anonymous: 'Anonymous',
        mod_label: '',
        subscribe: '',
        are_you_sure: 'Do you want to flag this comment as inappropriate?',

        reply: '<img src="//www.htmlcommentbox.com/static/images/reply.png"/> reply',
        flag: '<img src="//www.htmlcommentbox.com/static/images/flag.png"/> flag',
        like: '<img src="//www.htmlcommentbox.com/static/images/like.png"/> like',

        //dates
        days_ago: 'days ago',
        hours_ago: 'hours ago',
        minutes_ago: 'minutes ago',
        within_the_last_minute: 'within the last minute',

        msg_thankyou: 'Thank you for commenting!',
        msg_approval: '(this comment is not published until approved)',
        msg_approval_required: 'Thank you for commenting! Your comment will appear once approved by a moderator.',

        err_bad_html: 'Your comment contained bad html.',
        err_bad_email: 'Please enter a valid email address.',
        err_too_frequent: 'You must wait a few seconds between posting comments.',
        err_comment_empty: 'Your comment was not posted because it was empty!',
        err_denied: 'Your comment was not accepted.',

        //SETTINGS
        MAX_CHARS: 8192,
        PAGE: '', // ID of the webpage to show comments for. defaults to the webpage the user is currently visiting.
        RELATIVE_DATES: true // show dates in the form "X hours ago." etc.
    };
</script>
