<div id="wrapper" ng-show="account.isLoggedIn()">

    <!-- Sidebar -->
    <div id="sidebar-wrapper" style="color:lightgray;">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">

            </li>
            <li>
                <h3>Course Details</h3>
            </li>
            <li>
                ADDRESS
            </li>
            <li>
                22800 Pelican Hill Rd S
            </li>
            <li>
                Newport Coast, CA  92657
            </li>
            <li>
                (949) 467-6899
            </li>
            <li>
                Price: $$$$$
            </li>
            <li>
                Holes: 36
            </li>
            <li>
                Par: 70
            </li>
            <li>
                Rating: <img src="http://www.greenskeeper.org/images/ratingstar.gif" border="0" /><img src="http://www.greenskeeper.org/images/ratingstar.gif" border="0" />
                <img src="http://www.greenskeeper.org/images/ratingstar.gif" border="0" /><img src="http://www.greenskeeper.org/images/ratingstar.gif" border="0" /><img src="http://www.greenskeeper.org/images/ratingstar.gif" border="0" />
                
            </li>
        </ul>
        <br />
        <br />
        <div style="width: 250px; margin-top:420px;"><iframe width="250" height="500" src="http://regiohelden.de/google-maps/map_en.php?width=250&amp;height=500&amp;hl=en&amp;q=22800%20Pelican%20Hill%20Rd%20S+(Pelican%20Hill%20Golf%20Resort)&amp;ie=UTF8&amp;t=&amp;z=14&amp;iwloc=B&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><br /></div>
    </div>
    <!-- /#sidebar-wrapper -->
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div id="bannertaskstop" class="row">
                <div class="col-lg-12" style="padding-top:50px;">
                    <center><h1><font style="color:black;">Pellican Hill Golf Resort</font></h1></center>
                    <form action="" class="search-form" style="width: 100%;">
                        <btn id="menu-toggle" class="btn btn-default" style="margin-left:10px;">Course Details</btn>
                        <!--<div class="form-group has-feedback" style="margin-right:150px;">
                            <label for="search" class="sr-only">Search...</label>
                            <input type="text" class="form-control" name="search" ng-model="vm.search" id="search" placeholder="Search by Golfers Name...">
                            <span class="glyphicon glyphicon-search form-control-feedback"></span>
                        </div>-->
                    </form>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="wrap_table">
                            <!-- ENTER HERE -->
                            <div class="col-md-5">
                                <div class="gallery" align="left">
                                    <h3>Gallery</h3>
                                    <div class="preview" align="left">
                                        <img name="preview" src="http://www.golfpelicanhill.com/images/home/6.jpg" width="800" height="400" alt="" />
                                    </div>
                                    <div class="thumbnails">
                                        <img onmouseover="preview.src=img1.src" name="img1" src="http://www.golfpelicanhill.com/images/home/6.jpg" width="100" height="100" alt="" />
                                        <img onmouseover="preview.src=img2.src" name="img2" src="http://www.worldgolf.com/photo-galleries/images/preview/15061.jpg" width="100" height="100" alt="" />
                                        <img onmouseover="preview.src=img3.src" name="img3" src="http://www.golfpelicanhill.com/images/home/7.jpg" width="100" height="100" alt="" />
                                        <img onmouseover="preview.src=img4.src" name="img4" src="http://susiedenton.com/wp-content/uploads/2013/02/newport-coast-3.jpg" width="100" height="100" alt="" />
                                        <img onmouseover="preview.src=img5.src" name="img5" src="http://res.gdol.com/app/courses/image/preview/35092.jpg" width="100" height="100" alt="" />
                                    </div>


                                </div> <!-- Close the gallery div -->
                            </div>
                            <div class="col-md-7" style="color:white;">
                                <h1>Course Info</h1>
                                <h3>The Course</h3>
                                <p>When jaw-dropping scenery is par for the course, you’ll need to remind yourself to keep your eye on the ball. But once you find your focus, players of every skill level are rewarded with 36 holes that test your mettle, quicken your pulse and stir your soul. Pelican Hill Golf Club is more than just a round of golf. It’s a two-course feast to make you feel as if golf is your sole reason for being. And from the moment you tee off, it absolutely is.</p>

                                <h3>Highlights Include:</h3>

                                <p>
                                    <ul>
                                        <li>Year-round playability</li>
                                        <li>Ocean Front Views (Every Hold is a Signature Hole)</li>
                                        <li>Two courses (North and South) to chose from</li>
                                    </ul>
                                </p>

                                <h3>North Course</h3>

                                <p>Panoramic ocean views from every tee box are just the beginning. Open canyons and elevated plateaus dot the landscape, and at nearly 7,000 yards from the tips, your full attention is required. Several holes weave their way right down to the cliff’s edge, but great shots here require more than just a great camera. Lose your focus, and you might just lose the hole.</p>

                                <h3>South Course</h3>
                                <p>Yep, she certainly is a beauty. But the South Course is more than just eye candy. The pristine greens look harmless at first glance, but most are surrounded by bunkers and deep chasms, momentarily stealing your attention from the 270-degree views of the Pacific. Concentration here is a must, lest you end up taking more shots with your wedge than you do with your camera.</p>
                                <br />
                                <br />
                                <a href="http://www.bestapproachflyovers.com/PLHS_pelicanhillsouth/" target="_blank" class="btn btn-default" role="button">View Course Layout</a>
                                <a href="http://pelicanhill.quick18.com/teetimes/search?_ga=1.118764874.2115711584.1456363603" target="_blank" class="btn btn-default" role="button">Set Tee Time</a>

                            </div>


                            <div class="row" style="margin-top:50px;">
                                <div class="col-md-12">
                                    <div class="col-md-5">
                                        <table class="mine table table-hover" style="margin-top:-50px;">


                                            <tr>
                                                <th>Course</th>
                                                <th>Golfers Name</th>
                                                <th>Course Par</th>
                                                <th>Final Score</th>

                                            </tr>
                                            <tr ng-repeat="score in vm.scores | orderBy:'finalScore' | filter: {courseName: 'Pellican Hill Golf Resort'}">
                                                <td><span><img alt="Brand" src="http://i.imgur.com/pK1ufyV.png" height="25" width="25"></span> {{score.courseName}}</td>
                                                <td>{{score.golfersName}}</td>
                                                <td>{{score.par}}</td>
                                                <td>{{score.finalScore}}</td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="col-md-6">
                                        <!-- COMMENTS -->
                                        <div id="HCB_comment_box"><a href="http://www.htmlcommentbox.com">Widget</a> is loading comments...</div>
                                        <link rel="stylesheet" type="text/css" href="//www.htmlcommentbox.com/static/skins/bootstrap/twitter-bootstrap.css?v=0" />
                                        <script type="text/javascript" id="hcb"> /*<!--*/ if (!window.hcb_user) { hcb_user = {}; } (function () { var s = document.createElement("script"), l = hcb_user.PAGE || ("" + window.location).replace(/'/g, "%27"), h = "//www.htmlcommentbox.com"; s.setAttribute("type", "text/javascript"); s.setAttribute("src", h + "/jread?page=" + encodeURIComponent(l).replace("+", "%2B") + "&mod=%241%24wq1rdBcg%24qbiEEt2yqYpwhQ6OERcEG1" + "&opts=16862&num=10&ts=1456357885094"); if (typeof s != "undefined") document.getElementsByTagName("head")[0].appendChild(s); })(); /*-->*/ </script>
                                    </div>
                                    <div class="col-md-1"></div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
</div>

<script>
    $("#menu-toggle").click(function (e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    $('.datepicker').datepicker();

    hcb_user = {
        // L10N
        comments_header: 'Comments',
        name_label: 'Name',
        content_label: 'Enter your comment here',
        submit: 'Comment',
        logout_link: '',
        admin_link: '',
        no_comments_msg: '',
        add: 'Add your comment',
        again: 'Post another comment',
        rss: '',
        said: 'said:',
        prev_page: '<img src="//www.htmlcommentbox.com/static/images/arrow_left.png" class="hcb-icon" title="previous page" alt="[prev]"/>',
        next_page: '<img src="//www.htmlcommentbox.com/static/images/arrow_right.png" class="hcb-icon" title="next page" alt="[next]"/>',
        showing: 'Showing',
        to: 'to',
        website_label: 'website (optional)',
        email_label: 'email',
        anonymous: 'Anonymous',
        mod_label: '',
        subscribe: '',
        are_you_sure: 'Do you want to flag this comment as inappropriate?',

        reply: '<img src="//www.htmlcommentbox.com/static/images/reply.png"/> reply',
        flag: '<img src="//www.htmlcommentbox.com/static/images/flag.png"/> flag',
        like: '<img src="//www.htmlcommentbox.com/static/images/like.png"/> like',

        //dates
        days_ago: 'days ago',
        hours_ago: 'hours ago',
        minutes_ago: 'minutes ago',
        within_the_last_minute: 'within the last minute',

        msg_thankyou: 'Thank you for commenting!',
        msg_approval: '(this comment is not published until approved)',
        msg_approval_required: 'Thank you for commenting! Your comment will appear once approved by a moderator.',

        err_bad_html: 'Your comment contained bad html.',
        err_bad_email: 'Please enter a valid email address.',
        err_too_frequent: 'You must wait a few seconds between posting comments.',
        err_comment_empty: 'Your comment was not posted because it was empty!',
        err_denied: 'Your comment was not accepted.',

        //SETTINGS
        MAX_CHARS: 8192,
        PAGE: '', // ID of the webpage to show comments for. defaults to the webpage the user is currently visiting.
        RELATIVE_DATES: true // show dates in the form "X hours ago." etc.
    };
</script>
